---
layout: page
title: About
---

{% include social-share.html %}
{{ content }}

<h1 class="page__title">Published Papers</h1>
<ol>
     <li>
        <b>A multi-platform collection of social media posts about the 2022 U.S. midterm elections (2023) </b> <br />
         Rachith Aiyappa*, Matthew R. DeVerna*, <u>Manita Pote*</u>,  Wanying Zhao*,
        Bao Tran Truong*, David Axelrod, Aria Pessianzadeh, Zoher Kachwala, Munjung Kim, Ozgur Can Seckin, Minsuk Kim, Sunny Gandhi, Amrutha Manikonda, Francesco Pierri,
        Filippo Menczer, Kai-Cheng Yang <br />
        <i>Proceedings of the Seventeenth International AAAI Conference on Web and Social Media, 17(1), 981-989.</i>
        <a href="https://doi.org/10.1609/icwsm.v17i1.22205" target="_blank">[PDF]</a>
    </li>
    <li>
        <b>Manipulating Twitter Through Deletions (2022)</b> <br />
        Christopher Torres-Lugo*, <u> Manita Pote*</u>, Alexander C. Nwala & Filippo Menczer <br />
        <i>Proceedings of the International AAAI Conference on Web and Social Media, 16(1), 1029-1039.</i>
            <a href="https://doi.org/10.1609/icwsm.v16i1.19355" target="_blank">[PDF]</a>
    </li>
</ol>

<h1 class="page__title">Services</h1>
<ol>
     <li>
        Program Committee Member, CySoc 2023 International Workshop on Cyber Social Threats
        <a href="https://cy-soc.github.io/2023/" target="_blank">[Link]</a>
    </li>
</ol>
<!--{% for post in site.posts limit:3 %}-->
<!--  {% include post-entry.html %}-->
<!--{% endfor %}-->