---
layout: page
title: About
---

{{ content }}

<h1 class="page__title">Work In Progress</h1>
<ol>
     <li>
        <b>Coordinated Reply Attacks in Influence Campaigns: Characterization and Detection</b> <br />
         A machine learning model for detection of the actors involved in coordinated reply attack.
    </li>
    <li>
        <b>BLOC2Vec: Vector Representation of User Behavior in Social Media</b> <br />
       Comparison of embedding models for vector representation of sequential social media user behavior and evaluation on coordination detection
    </li>
    <li>
        <b>Role of Third Party Apps in Inauthentic Coordination</b> <br />
        Understand how third party apps help in inauthentic coordination in Influence Campaigns and develop method to detect the abusive behavior
    </li>
    <li>
        <b>Influence Operation Control Dataset</b> <br />
        Control data-set for the Twitter Influence Operation Data
    </li>
</ol>

<h1 class="page__title">Peer Reviewed Published Papers</h1>
<ol>
     <li>
        <b>A multi-platform collection of social media posts about the 2022 U.S. midterm elections (2023) </b> <br />
         Rachith Aiyappa*, Matthew R. DeVerna*, <u>Manita Pote*</u>,  Wanying Zhao*,
        Bao Tran Truong*, David Axelrod, Aria Pessianzadeh, Zoher Kachwala, Munjung Kim, Ozgur Can Seckin, Minsuk Kim, Sunny Gandhi, Amrutha Manikonda, Francesco Pierri,
        Filippo Menczer, Kai-Cheng Yang <br />
        <i>Proceedings of the Seventeenth International AAAI Conference on Web and Social Media, 17(1), 981-989.</i>
        <a href="https://doi.org/10.1609/icwsm.v17i1.22205" target="_blank">[PDF]</a>
    </li>
    <li>
        <b>Manipulating Twitter Through Deletions (2022)</b> <br />
        Christopher Torres-Lugo*, <u> Manita Pote*</u>, Alexander C. Nwala & Filippo Menczer <br />
        <i>Proceedings of the International AAAI Conference on Web and Social Media, 16(1), 1029-1039.</i>
            <a href="https://doi.org/10.1609/icwsm.v16i1.19355" target="_blank">[PDF]</a>
    </li>
</ol>

<h1 class="page__title">Services</h1>
<ol>
     <li>
        Program Committee Member, CySoc 2023 International Workshop on Cyber Social Threats
        <a href="https://cy-soc.github.io/2023/" target="_blank">[Link]</a>
    </li>
     <li> 
          Program Committee Member, CySoc 2024 International Workshop on Cyber Social Threats (ICWSM)
          <a href="https://cy-soc.github.io/2024/" target="_blank">[Link]</a>
     </li>
    <li>
        Reviewer at EPJ Data Science 2023 <a href="https://epjdatascience.springeropen.com/" target="_blank">[Link]</a>
    </li>
    <li>
        Volunteer at ICWSM (2022) <a href="https://icwsm.org/2022/index.html/local_organization.html">[Link]</a>
    </li>
</ol>
